rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Assumed Data Model
    // ===============================================================
    //
    // Collection: content
    // Document ID: theme, home, about, services, blog
    //
    // ===============================================================

    // ===============================================================
    // Helper Functions
    // ===============================================================
    
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "payas4goog@gmail.com" && request.auth.token.email_verified == true);
    }

    // ===============================================================
    // Rules
    // ===============================================================

    match /content/{section} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
